header {
    background-color: rgb(6, 42, 71);
    padding: 6px;
    text-align: center;
    font-size: 20px;
    color: white;
}

footer {
    background-color: rgb(6, 42, 71);
    padding: 3px;
    text-align: center;
    font-size: 20px;
    color: white;
}
