body{
    margin: 0px;
    font-size: 100%;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 10fr 0.5fr;
    height: 100%;
}

.navbar{
    grid-template-rows: auto;
    background-color: #062954;
    grid-column: 1/-1;
    box-shadow: 3px 3px 5px 1px lightgrey;
}

.ts-logo{
    margin: 10px;
}

.content{
    box-shadow: 3px 3px 5px 1px lightgrey;
    grid-column: 2/-1;
}

.footer{
    background-color: #bfbfbf80;
    grid-column: 1/-1;
}


